#include "resource.h"
#include <windows.h>

IDD_DLG_ABOUT DIALOGEX 0,0,280,70
CAPTION "O programu..."
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "&OK",IDC_BTN_ABOUT_OK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,225,50,50,15
  CONTROL "",IDC_SHP1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_ETCHEDHORZ,5,45,270,0
  CONTROL IDI_ICON_MAIN,IDC_IMG_LOGO,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,5,5,32,32
  CONTROL "Automatska Regulacija Temperature",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE,45,5,150,10
  CONTROL "Verzija: 1.0",IDC_STC12,"Static",WS_CHILDWINDOW|WS_VISIBLE,45,15,55,10
  CONTROL "Mirza Nakicevic, Alen Helac, Muhamed Avdic, Robert Divkovic",IDC_STC13,"Static",WS_CHILDWINDOW|WS_VISIBLE,45,35,230,10
  CONTROL "Licenca: GPLv3",IDC_STC14,"Static",WS_CHILDWINDOW|WS_VISIBLE,45,25,55,10
END

IDR_MENU_MAIN MENU
BEGIN
  POPUP "&Program"
  BEGIN
    MENUITEM "&Kraj rada",IDM_FILE_EXIT
  END
  POPUP "P&roces"
  BEGIN
    MENUITEM "P&okreni",IDM_RUN_START,GRAYED
    MENUITEM "Z&austavi",IDM_RUN_STOP,GRAYED
    MENUITEM SEPARATOR
    POPUP "Nacin rada"
    BEGIN
      MENUITEM "Automatski",IDM_RUN_AUTO,CHECKED,GRAYED
      MENUITEM "Rucni",IDM_RUN_MANUAL,GRAYED
    END
  END
  POPUP "&Opcije"
  BEGIN
    MENUITEM "Postavke COMM porta",IDM_SETTINGS
  END
  POPUP "Po&moc"
  BEGIN
    MENUITEM "&O...",IDM_HELP_ABOUT
  END
END

IDR_VERSION1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "04090000"
    BEGIN
      VALUE "FileVersion", "1.0.0.0\0"
      VALUE "ProductVersion", "1.0.0.0\0"
      VALUE "OriginalFilename", "iocontrolboard.exe\0"
      VALUE "ProductName", "I/O Control Board\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x0000
  END
END

IDD_DLG_SETTINGS DIALOGEX 0,-15,265,75
CAPTION "Postavke COMM porta"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "",IDC_CBO_PORT_NAME,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|WS_VSCROLL|WS_HSCROLL|WS_TABSTOP|CBS_SORT|CBS_DROPDOWNLIST,55,5,80,60
  CONTROL "",IDC_CBO_PORT_BAUDRATE,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|WS_VSCROLL|WS_HSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,55,20,80,60
  CONTROL "",IDC_CBO_PORT_DATABITS,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|WS_VSCROLL|WS_HSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,180,5,80,60
  CONTROL "",IDC_CBO_PORT_PARITY,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|WS_VSCROLL|WS_HSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,180,20,80,60
  CONTROL "",IDC_CBO_PORT_STOPBITS,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|WS_VSCROLL|WS_HSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,180,35,80,60
  CONTROL "Port:",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,5,5,30,12
  CONTROL "Baud rate:",IDC_STC3,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,5,20,40,15
  CONTROL "&Sacuvaj",IDC_BTN_SETTINGS_SAVE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,155,55,50,15
  CONTROL "&Odustani",IDC_BTN_SETTINGS_CANCEL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,210,55,50,15
  CONTROL "",IDC_SHP3,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_ETCHEDHORZ,5,50,255,0
  CONTROL "Data bits:",IDC_STC4,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,140,5,40,15
  CONTROL "Parity:",IDC_STC5,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,140,20,40,15
  CONTROL "Stop bits:",IDC_STC6,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,140,35,40,15
  CONTROL "&Testiraj",IDC_BTN_PORT_TEST,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|WS_TABSTOP,5,55,50,15
END

IDI_ICON_MAIN ICON DISCARDABLE "res/app.ico"
IDB_BMP_GAUGE BITMAP DISCARDABLE "res/gauge.bmp"
IDB_BMP_TERM BITMAP DISCARDABLE "res/term.bmp"
IDB_BMP_HEAT BITMAP DISCARDABLE "res/heater.bmp"

